<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" href="/css/user/app.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <title>{{title}}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">WM PQH</a>
                <form class="d-flex align-items-center me-3 search-box" role="search">
                    <div class="position-relative w-100">
                        <i class="fa fa-search search-icon"></i>
                        <input type="search" class="form-control search-input" placeholder="Tìm kiếm" aria-label="Search">
                    </div>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Bảng điều khiển</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="tasks">Nhiệm vụ của tôi</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="projects">Dự án của tôi</a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav d-flex align-items-center">
                        <li class="nav-item dropdown me-3">
                            <button class="btn btn-link nav-link position-relative p-0 text-dark border-0" type="button" id="messageBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-comment-dots fa-lg" id="messageIcon"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    5
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end mt-2">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Tin nhắn 1
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Tin nhắn 2
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Tin nhắn 3
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Xem tất cả tin nhắn
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown me-3">
                            <button class="btn btn-link nav-link position-relative p-0 text-dark border-0" type="button" id="notificationBtn" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell fa-lg" id="bellIcon"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    3
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end mt-2">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Thông báo 1
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Thông báo 2
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Thông báo 3
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Xem tất cả
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link p-0 d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                <div class="position-relative d-inline-block">
                                    <img class="user-avatar" src="https://scontent.fhan4-4.fna.fbcdn.net/v/t39.30808-1/484895554_685047493862507_8119295966222777149_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=102&ccb=1-7&_nc_sid=1d2534&_nc_ohc=caectHl2dC0Q7kNvwFZpmTp&_nc_oc=AdlzuM-4EqEXpj0a8NXp2aWixsOMa7ZpPS2qwivLi7ymF5mUyALOjAifZ68WPVmObys&_nc_zt=24&_nc_ht=scontent.fhan4-4.fna&_nc_gid=M__aZzDE70gPFwVMlRlKMA&oh=00_AfM9gSvmddWNMOSpz9yshrMxON82RP6HQ6B8mB8Ec-M2fg&oe=6865EDD7" alt="">
                                    <i class="fa fa-chevron-down dropdown-caret-icon position-absolute"></i>
                                </div>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <img class="user-avatar" src="https://scontent.fhan4-4.fna.fbcdn.net/v/t39.30808-1/484895554_685047493862507_8119295966222777149_n.jpg?stp=dst-jpg_s480x480_tt6&_nc_cat=102&ccb=1-7&_nc_sid=1d2534&_nc_ohc=caectHl2dC0Q7kNvwFZpmTp&_nc_oc=AdlzuM-4EqEXpj0a8NXp2aWixsOMa7ZpPS2qwivLi7ymF5mUyALOjAifZ68WPVmObys&_nc_zt=24&_nc_ht=scontent.fhan4-4.fna&_nc_gid=M__aZzDE70gPFwVMlRlKMA&oh=00_AfM9gSvmddWNMOSpz9yshrMxON82RP6HQ6B8mB8Ec-M2fg&oe=6865EDD7" alt="">
                                        Phạm Quốc Huy
                                    </a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class='bx bxs-cog' ></i>
                                        Cài đặt
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class='bx bx-log-out'></i>
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
                {{{body}}}
        </div>

        <footer class="bg-info text-white pt-4">
            <div class="container">
                <div class="row">
                <!-- Cột 1 -->
                <div class="col-md-4 mb-3">
                    <h5 class="fw-bold">TỔNG CÔNG TY CỔ PHẦN CÔNG TRÌNH VIETTEL</h5>
                    <ul class="list-unstyled mt-3">
                    <li><i class="fas fa-map-marker-alt me-2"></i> Số 1 Giang Văn Minh, phường Kim Mã, quận Ba Đình, thành phố Hà Nội</li>
                    <li><i class="fas fa-phone me-2"></i> Điện thoại: 024.6266.1225</li>
                    <li><i class="fas fa-envelope me-2"></i> E-mail: viettelxldct@viettel.com.vn</li>
                    <li><i class="fas fa-globe me-2"></i> <a href="https://congtrinhviettel.com.vn/" class="text-white text-decoration-underline">https://congtrinhviettel.com.vn/</a></li>
                    <li><i class="fas fa-building me-2"></i> Mã số doanh nghiệp: 0104753865 do Sở KH&ĐT Hà Nội cấp lần đầu ngày 09/06/2010</li>
                    </ul>
                    <div class="mt-3">
                    <a href="#" class="btn btn-outline-light btn-sm me-2">Gửi yêu cầu liên hệ</a>
                    <a href="#" class="btn btn-outline-light btn-sm">Bản đồ chỉ đường</a>
                    </div>
                </div>

                <!-- Cột 2 -->
                <div class="col-md-5 mb-3">
                    <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Trang chủ</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Giới thiệu</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Lĩnh vực hoạt động</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Quan hệ cổ đông</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Tin tức & sự kiện</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Thư viện ảnh</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Thư viện video</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Tuyển dụng</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Sơ đồ website</a></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <!-- Cột 3 -->
                <div class="col-md-3 mb-3">
                    <h6 class="fw-bold">Kết nối với chúng tôi</h6>
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
                </div>
            </div>

            <div class="bg-success text-center py-3 mt-3">
                <small>
                Copyright © 2019 Congtrinhviettel.com.vn. Thiết kế Website - SEO bởi Tất Thành | 
                Đang truy cập: 168 | Tổng số lượt truy cập: 1.900.000
                </small>
            </div>
        </footer>

        <script>
            const dropdown = document.getElementById('notificationBtn');
            const bellIcon = document.getElementById('bellIcon');

            dropdown.addEventListener('show.bs.dropdown', function () {
                bellIcon.classList.remove('text-dark');
                bellIcon.classList.add('text-primary');
            });

            dropdown.addEventListener('hide.bs.dropdown', function () {
                bellIcon.classList.remove('text-primary');
                bellIcon.classList.add('text-dark');
            });

            // Thay đổi màu tin nhắn
            const msgDropdown = document.getElementById('messageBtn');
            const messageIcon = document.getElementById('messageIcon');

            msgDropdown.addEventListener('show.bs.dropdown', function () {
                messageIcon.classList.remove('text-dark');
                messageIcon.classList.add('text-primary');
            });

            msgDropdown.addEventListener('hide.bs.dropdown', function () {
                messageIcon.classList.remove('text-primary');
                messageIcon.classList.add('text-dark');
            });
        </script>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>