<footer class="bg-info text-white pt-4">
            <div class="container">
                <div class="row">
                <!-- Cột 1 -->
                <div class="col-md-4 mb-3">
                    <h5 class="fw-bold">TỔNG CÔNG TY CỔ PHẦN CÔNG TRÌNH VIETTEL</h5>
                    <ul class="list-unstyled mt-3">
                    <li><i class="fas fa-map-marker-alt me-2"></i> Số 1 Giang Văn Minh, phường Kim Mã, quận Ba Đình, thành phố Hà Nội</li>
                    <li><i class="fas fa-phone me-2"></i> Điện thoại: 024.6266.1225</li>
                    <li><i class="fas fa-envelope me-2"></i> E-mail: viettelxldct@viettel.com.vn</li>
                    <li><i class="fas fa-globe me-2"></i> <a href="https://congtrinhviettel.com.vn/" class="text-white text-decoration-underline">https://congtrinhviettel.com.vn/</a></li>
                    <li><i class="fas fa-building me-2"></i> Mã số doanh nghiệp: 0104753865 do Sở KH&ĐT Hà Nội cấp lần đầu ngày 09/06/2010</li>
                    </ul>
                    <div class="mt-3">
                    <a href="#" class="btn btn-outline-light btn-sm me-2">Gửi yêu cầu liên hệ</a>
                    <a href="#" class="btn btn-outline-light btn-sm">Bản đồ chỉ đường</a>
                    </div>
                </div>

                <!-- Cột 2 -->
                <div class="col-md-5 mb-3">
                    <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Trang chủ</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Giới thiệu</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Lĩnh vực hoạt động</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Quan hệ cổ đông</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Tin tức & sự kiện</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                        <li><a href="#" class="text-white text-decoration-none">Thư viện ảnh</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Thư viện video</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Tuyển dụng</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Liên hệ</a></li>
                        <li><a href="#" class="text-white text-decoration-none">Sơ đồ website</a></li>
                        </ul>
                    </div>
                    </div>
                </div>

                <!-- Cột 3 -->
                <div class="col-md-3 mb-3">
                    <h6 class="fw-bold">Kết nối với chúng tôi</h6>
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
                </div>
            </div>

            <div class="bg-success text-center py-3 mt-3">
                <small>
                Copyright © 2019 Congtrinhviettel.com.vn. Thiết kế Website - SEO bởi Tất Thành | 
                Đang truy cập: 168 | Tổng số lượt truy cập: 1.900.000
                </small>
            </div>
        </footer>